/****Pallet******************************************************************
Colors: #28df99  #ecf4f3  #e0ece4  #68b0ab  #2d4059  #382933
        #99f3bd  #68b0ab  #ff4b5c  #8fc0a9  #ea5455  #3b5249
        #d2f6c5  #006a71  #056674  #c8d5b9  #decdc3  #519872
        #f6f7d4  #ff7e67  #66bfbf  #faf3dd  #e5e5e5  #a4b494
*****************************************************************************/
/****tags********************************************************************/
body {
  background-color: #faf3dd;
  position: relative;
}

h1 {
  color: #382933;
  font-family: 'Josefin Slab', serif;
}

h2 {
  color: #382933;
  font-family: 'Amatic SC', serif;
}

a:link, a:visited {
  background-color: #faf3dd;
  color: #68b0ab;
  border: solid 1px;
  border-color: #68b0ab;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
}

a:hover, a:active {
  background-color: #ff7e67;
  color: #faf3dd;
  border: none;
}

.nav {
  padding: 5% 5%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.title {
  text-align: center;
  color: #382933;
  position: absolute;
  top: 10%;
  left: 54%;
  z-index: 1;
}

.title-pictures {
  position: relative;
}

.brush-green {
  position: static;
  padding: 10px;
  z-index: -1
}

.first-main {
  position: absolute;
  top: 35%;
  right: 35%;
}

.middle-pictures {
  position: relative;
}

.middle-text {
  position: absolute;
  top: 65%;
  left: 2%;
  width: 38%;
  height: auto;
}

.brush-teal {
  position: relative;
  top: 40%;
  left: 36%;
  padding: 10px;
  z-index: -1
}

.second-main {
  width: 60%;
  position: absolute;
  top: 12%;
  right: 2%;
}

.bottom-pictures {
position: relative;
}

.bottom-text {
position: absolute;
right: 20%;
left: 20%;
text-align: center;
}

.brush-blue {
  width: 60%;
  position: absolute;
  top: 70%;
  right: 20%;
  left: 15%;
  padding-top: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
  z-index: -1;
}

.third-main {
  width: 70%;
  margin: 0 20% 0 20%;
  position: absolute;
}
