/****Pallet******************************************************************
Colors: #28df99  #ecf4f3  #e0ece4  #68b0ab  #2d4059  #382933
        #99f3bd  #68b0ab  #ff4b5c  #8fc0a9  #ea5455  #3b5249
        #d2f6c5  #006a71  #056674  #c8d5b9  #decdc3  #519872
        #f6f7d4  #ff7e67  #66bfbf  #faf3dd  #e5e5e5  #a4b494
*****************************************************************************/
/****tags********************************************************************/
body {
  background-color: #faf3dd;
  position: static;
}

h1 {
  font-family: 'Josefin Slab', serif;
  color: #382933;
}

a {
  font-family: 'Josefin Slab', serif;
  color: #68b0ab;
}

.navigation {
  padding: 5% 5%;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
}

a:link, a:visited {
  background-color: #faf3dd;
  color: #a4b494;
  padding: 1px 10px;
  margin: 4px;
  border: solid 1px;
  border-color: #a4b494;
  text-align: center;
  text-decoration: none;
  display: block;
}

a:hover {
  background-color: #ff7e67;
  color: #faf3dd;
  border: none;
}

.title {
  position: absolute;
  top: 30%;
  right: 25%;
  text-align: center;
}

.title-h2 {
  font-family: 'Amatic SC', cursive;
  color: #3b5249;
}

.brush-teal {
  position: absolute;
  right: 45%;
  z-index: -1
}

.main-one {
  position: absolute;
  top: 40%;
  left: 22%;
}
